.header{
    font-family: Helvetica;
     font-weight: 800;
     margin-left : auto;

     margin-right: auto;
     color: white;
     border-radius: 6px;
     padding: 10px;
     width: 35%;
     margin-bottom:10px;
     font-size : 1.23rem;
     background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
     /* box-shadow: #5062ea 0px 48px 100px 0px; */
     /* box-shadow: #5062ea 0px 19px 38px, #4356e4 0px 15px 12px; */
 }

.btn{
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin-left: auto;
  margin-right:auto;
  margin-bottom : 30px;
  margin-top : 30px;
}

.btn:hover {
  outline: 0;
  box-shadow: #5DADE2  0px 7px 29px 0px;
  transform: scale(1.02);
  transition: 0.7s;
}




