.footer {
    background-color: black;
    color: #ffffff;
    padding: 50px 0;
    width:100%;
    position:sticky;
    top:900px;
    font-size: 1em;
  }
  
  .footer h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .footer p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  
  .footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-list li {
    margin-bottom: 10px;
  }
  
  .footer-list li a,
  .footer-list li i {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
  }
  
  .footer-list li a:hover {
    color: #f39c12;
  }
  
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-column {
    width: 30%;
  }
  