.chart{
    width: 68%;
    height: 30%;
    margin: auto;
    box-shadow: #6979ee 0px 22px 70px 4px;
    background: linear-gradient(
        90deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
      );
    border-radius: 7px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
    
}
.expbtn{
    position: relative;
    top:50px;
    margin-left: auto;
    margin-right: auto;
}
.head{
    margin-top : 90px;
}


